name: Documentation

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: extractions/setup-just@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[docs]
      - name: Generate Docs
        run: |
          gitchangelog
          just generate-docs
          touch docs/_build/.nojekyll
      - name: Publish Docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/_build/
